#footer-section {
    // background: linear-gradient(135deg, hsla(0, 0%, 27%, 1) 0%, hsla(210, 11%, 15%, 1) 100%);
    background: linear-gradient(135deg, rgb(44, 48, 51) 0%, hsla(0, 0%, 27%, 1) 20%, hsla(0, 0%, 27%, 1) 80%, rgb(44, 48, 51) 100%);

    color: white;

    .footerWrapper-div {
        max-width: 1450px;
        margin:auto;

        #knowMore-div {
            span {
                display:grid;
    
                a {
                    width: fit-content;
                    color:white;
                    // text-decoration: none;
                }
            }
    
        }
    
        #contact-div {
            .lnr {
                margin-top:1.5px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width:576px) {
    .footerWrapper-div {
        justify-content: space-evenly;
    }
}

@media screen and (min-width:992px) {
    .footerWrapper-div {
        // justify-content: space-evenly;
        #knowMore-div {
            span {
                // display:grid;
                // grid-template-columns: 1fr 1fr 1fr;
                
                a {
                    width: fit-content;
                    color:white;
                    text-decoration: none;
                }
                a:hover {text-decoration: underline;}
            }
        }
    }
}