#navbar-section {
    background-image: url("../assets/background/bkg_body.gif");
    a {color: black;}

    > nav {
        // background-color: white;
        // padding: 0 5px;
        // background-image: url("../assets/background/bkg_body.png");
        >img{padding-left:5px;}
        @media screen and (max-width:991px) {
            height:60px;
            >button{
                display: flex;
                justify-content: end;

                margin-right:5px;
                width:calc(100% - 150px);
                border: none !important;
                box-shadow: 0 0 0 0 !important;
            }
            .navbar-collapse.show, .navbar-collapse.collapsing {
                background-color: rgb(255, 255, 255, 0.9);
                margin-top: 8px;
                
                .navbar-nav {
                    >a, >div {
                        padding-left:5px;
                        border-top:1px solid rgba(0, 0, 0, 0.175);
                        color: black;
                    }
                }
        
                .nav-item {        
                    max-height: 40px;
                    display: block;
                    overflow: hidden;
            
                    &.dropdown > a {
                        // color:black;
                        &::after {
                            border-left: 4.5px solid transparent;
                            border-right: 4.5px solid transparent; 
                            vertical-align: .1rem;
                            width: 9px;
                        }
                        &.show::after {
                            border-top:0;
                            border-bottom: 6px solid #343a40;
                        }
                        &:not(.show)::after{                            
                            border-top: 6px solid #343a40;
                            border-bottom:0;
                        }
                    }

                    &.show { 
                        -webkit-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        -ms-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        transition: all 0.4s;

                        max-height: 300px; 
                    }
        
                    .dropdown-menu.show {
                        // background: none;
                        // padding-left:5px;
                        // border: none;
                        margin:0;
                        margin-left:-5px;
                        border-right: none;
                        border-left: none;
                        border-bottom: none;
                        border-radius: 0;                        
                    }
        
                    &, a {
                        background:none;
                        margin: 0;
                    }
                }
            }
        }
    }

    #secondaryNav-nav {display: none;}

    @media screen and (min-width:992px) {
        >nav {
            #responsive-navbar-nav {
                display: flex;
                justify-content: end;
            }

            a:not(.keep-nav) {
                display: none;
            }
            .searchbar-div {
                max-width: 300px;
            }
        }
        
        #secondaryNav-nav {
            display: flex;
            justify-content: center;
            // background-color: #343a40;
            background: linear-gradient(135deg, hsla(0, 0%, 27%, 1) 0%, hsla(210, 11%, 15%, 1) 100%);

            .nav {
                display: flex;
                justify-content: space-between;
                width: 1450px;
                >a,>.nav-item > a {color: white;}
            }
        }    
    }
    

    img {max-height: 44px !important;}
    #navbarRow2-div {
        background-color:#444;
        // button {
            // background: none; 
            // border:none;
        // }
    }

}