// body {
    // background-image: url("../assets/bkg_body.gif");
    // font-family: arial, helvetica, sans-serif;
// }

// .contentTile {
    // width:100vw;
    // height: 100vw;
    // }
main {
    display: grid;
    // grid-template-columns: repeat(7, 100vw);
    
    // section {
    @media  screen and (max-width:418px) {
        grid-template-rows: repeat(5, calc(667px));
    }
    @media  screen and (min-width:419px) and (max-width:767px) {
        grid-template-rows: repeat(5, calc(741px));
    }
    @media  screen and (min-width:768px) and (max-width:991px) {}
    @media  screen and (min-width:992px) {}
    // }
}

p {
    // margin:0;
    font-size: 22px;
}

h2 {
    font-size: 32px;
}

.container-fluid {
    padding:0;
}

// @import '~bootstrap/scss/bootstrap';
@import 'bootstrap/dist/css/bootstrap.css';
@import './navbar.scss';
@import './landing.scss';
@import './about.scss';
@import './products.scss';
@import './events.scss';
@import './extra.scss';
@import './footer.scss';