// body {
    // background-image: url("../assets/bkg_body.gif");
    // font-family: arial, helvetica, sans-serif;
// }

// main {
    // display: grid;
    // grid-template-columns: repeat(7, 100vw);
    // grid-template-rows: repeat(7, 100vw);
// }

// .contentTile {
    // width:100vw;
    // height: 100vw;
// }

p {
    // margin:0;
    font-size: 22px;
}

h2 {
    font-size: 32px;
}

.container-fluid {
    padding:0;
}

// @import '~bootstrap/scss/bootstrap';
@import 'bootstrap/dist/css/bootstrap.css';
@import './navbar.scss';
@import './landing.scss';
@import './about.scss';
@import './products.scss';
@import './events.scss';
@import './extra.scss';
@import './footer.scss';